@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap');

body {
    background-color: #121725;
    font-family: 'Chivo', sans-serif;
    width: 100vw;
}

.wrapper {
    padding-left: 165px;
}

.context {
    height: 640px;
    width: 1275px;
    margin: calc((100vh - 640px)/2);
    position: relative;
}

.logo {
    position: absolute;
    left: 0;
    top: -28px;
}

.block {
    max-width: 723px;
    max-height: 509px;
    background-color: #121725;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 88px;
    margin-right: 58px;
}

.title {
    font-weight: 300;
    font-size: 52px;
    line-height: 62px;
    text-transform: uppercase;
    color: #54E6AF;
    margin-bottom: 24px;
}

.word {
    color: #FFFFFF;
}

.description {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #C2CBE5;
    margin-bottom: 40px;
    max-width: 445px;
}

.form {
    margin-bottom: 64px;
}

.field {
    width: 427px;
    min-height: 46px;
    border-radius: 28px;
    background-color: #2C344B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 8px;
}

.email {
    height: 46px;
    border: none;
    outline: none;
    width: 260px;
    vertical-align: middle;
    background-color: inherit;
    border-radius: 28px;
    padding-left: 32px;
    color: #FFFFFF;
    caret-color: #54E6AF;
}

.email::placeholder {
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.btn {
    height: 46px;
    width: 162px;
    border-radius: 28px;
    background-color: #54E6AF;
    color: #121725;
    border: none;
    font-weight: 400;
}

.btn:hover {
    background-color: #B3FFE2;
}

.error {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding-left: 32px;
}

.thumbs {
    width: 536px;
    display: flex;
    justify-content: space-between;
}

.photo {
    position: absolute;
    right: 0;
    bottom: 0;
}

.dots {
    position: absolute;
    bottom: -52px;
    right: 0;
}

@media screen and (max-width: 1440px) {
    .context {
        margin: calc((100vh - 640px)/2) auto;
    }
}